.declinedRequests{
  background: rgb(255, 97, 97);
}

.acceptedRequests{
  background: rgb(246, 255, 76);
}

table {
  border-collapse: collapse;

  margin: auto;

}

table, th, td {
  border: 1px solid rgb(221, 221, 221);
  padding: 15px;
}

