.concertDiv {
  border: 3px solid #482D41;
  max-width: 40%;
  display: inline-block;
  margin:3px;
  padding:3px;
  -webkit-border-radius: 5px;
}

.bullet {
  list-style-position: disc outside none;
}
